.App {
    padding: 30px;
    text-align: left;
    max-width: 300px;
}

.form {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    border-radius: 5px;
}

.form button {
    margin-top: 8px;
    max-width: 200px;
}

.list {
    margin-top: 30px;
}

.list table {
    border: 1px solid black;
}

.list table, tr td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}